.logo {

	background-color: #7a8aff;
	border: 1px #444 solid;
	margin-left: 50px; 
	margin-right: 50px;
    height: 100px;

}

#listBox{
	background-color: #001beb;
	margin-right: 50px;
	margin-left: 50px;  
	

}

#listBox >  ul > li > a:hover {
	color: black;
	text-decoration:underline;
}


.option {
	margin: 0;
	padding: 0;
	margin-left: 43px;
	display: inline;
	font-weight: 200;
	font-size: 20px;

}
.option > a{
	color: white;
	margin: 50px;
	text-decoration: none;
}

#contant{
    border: 1px #444 solid;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

